.wrapper {
  display: flex;
  background: #570a57;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #fff;
}

.formWrapper {
  background: #2e0249;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 400px;
  max-width: 90%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 16px;
  font-weight: bold;
}
.btn {
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.loginBnt {
  background: #f806cc;
  width: 100px;
  margin-left: auto;
}
.createInfo {
  margin: 0 auto;
  margin-top: 20px;
}

.createNewBtn {
  color: #f806cc;
  text-decoration: none;
  border-bottom: 1px solid #f806cc;
  transition: all 0.3s ease-in-out;
}

.navWrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2e0249;
}
.nav {
  width: 100%;
  color: #fff;
  font-size: x-large;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logInBtn,
.logOutBtn {
  background: #f806cc;
  margin: 10px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.createBtn,
.deleteBtn {
  background: #f806cc;
  text-decoration: none;
}
.allQuizes {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.allQuizesHeading {
  text-align: center;
  border-bottom: 2px solid #a91079;
  width: 200px;
}
.allQuizesList {
  width: 90%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  height: 300px;
  color: #fff;
  width: 350px;
  border-radius: 10px;
  background: #570a57;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 350px;
}
.quizTitle {
  flex: 2;
  text-align: center;
}
.deleteQuiz {
  margin-bottom: 5px;
}
